<h2 mat-dialog-title>Changement du mot de passe</h2>
<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Nouveau mot de passe</mat-label>
            <input matInput 
                id="password"
                type="password"
                name="password"
                formControlName="password"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirmer mot de passe</mat-label>
            <input matInput 
                id="confirm-password"
                type="password"
                name="confirm-password"
                formControlName="confirmPassword"/>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="submit" cdkFocusInitial [disabled]="updatePasswordForm.invalid">Modifier</button>
      <button mat-button type="reset" mat-dialog-close>Non</button>
    </mat-dialog-actions>
</form>
