<div class="container">
    <div class="full-width">
        <button mat-button routerLink="../../"> Retour </button>
    </div>
</div>
<div class="container">
    @if(isLoading()){
        <span class="spinner">
            <mat-spinner></mat-spinner>
        </span>
    } @else { 
        <div class="column">
            <app-item-detail [(item)]="ticket" [itemType]="itemTypeTicket"/>
        </div>
        <div class="column">
            <mat-card appearance="outlined">
                <app-items-list [ticketParent]="ticket" [(items)]="tasks" title="Tâches" [itemType]="itemTypeTask" [pageEvent]="pageEvent!"/>
            </mat-card>
        </div>
    }
</div>