<div class="content">
    <mat-card appearance="outlined">
        <div class="info-container">
            <h3>Informations du compte</h3>
            <mat-list role="list">
                <mat-list-item role="info">
                    <div matListItemTitle>
                        <span class="info-list-role">Nom:</span>
                    </div>
                    <div matListItemLine>
                        Sory Ibrahima DANSOKHO
                    </div>
                    <div matListItemMeta>
                        <button mat-icon-button (click)="onNameEdit()">
                            <mat-icon fontIcon="edit"></mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item role="info">
                    <div matListItemTitle>
                        <span class="info-list-role">Email:</span>
                    </div>
                    <div matListItemLine>
                        sdansokho91&#64;live.fr
                    </div>
                </mat-list-item>
                <mat-list-item role="info">
                    <div matListItemTitle>
                        <span class="info-list-role">Rôles:</span>
                    </div>
                    <div matListItemLine>
                        user-admin
                    </div>
                </mat-list-item>
            </mat-list>
            <button mat-flat-button>Changer le mot de passe</button>              
        </div>
    </mat-card>
</div>