<!-- <article> -->
<h2 mat-dialog-title>{{ Title }}</h2>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
<mat-dialog-content>
    @if (data.itemType === 'Ticket') {
      <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <mat-select formControlName="projectId">
          @for (project of projects; track project.id) {
            <mat-option [value]="project.id">
              {{ project.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="typeId">
          @for (type of types; track type.id) {
            <mat-option [value]="type.id">
              {{ type.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    
    
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusId">
          @for (status of statuses; track status.id) {
            <mat-option [value]="status.id">
              {{ status.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priorityId">
          @for (priority of priorities; track priority.id) {
            <mat-option [value]="priority.id">
              {{ priority.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>
    
      <!-- <mat-form-field appearance="fill">
        <mat-label>Story Point</mat-label>
        <mat-select formControlName="storyPoint">
          @for (storyPoint of storyPoints; track storyPoint.id) {
            <mat-option>
              {{ storyPoint.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field> -->
      @if (data.itemType === 'Ticket') {
        <mat-form-field appearance="fill">
          <mat-label>Tag</mat-label>
          <mat-select formControlName="tagId">
            @for (tag of tags; track tag.id) {
              <mat-option [value]="tag.id">
                {{ tag.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <mat-label>Epic Link</mat-label>
          <mat-select formControlName="epicLinkId">
            @for (epic of epics; track epic.id) {
              <mat-option [value]="epic.id">
                {{ epic.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    
      <mat-form-field appearance="fill">
        <mat-label>Responsible</mat-label>
        <mat-select formControlName="responsibleId">
          @for (user of users; track user.id) {
            <mat-option [value]="user.id">
              {{ user.name }}
            </mat-option>
          }
          </mat-select>
      </mat-form-field>
 
</mat-dialog-content>
<mat-dialog-actions>
  <button type="submit" mat-button cdkFocusInitial>Créer</button>
  <button mat-button mat-dialog-close type="reset">Annuler</button>
</mat-dialog-actions>
</form>
<!-- </article> -->
  