.content {
    padding: 16px;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px;
}

.actions-container {
    display: flex;
    flex-direction: row;
}

.toggle-on{
    color: green;
}
.toggle-off{
    color: red;
}