<app-card title="Inscription">
    <form [formGroup]="signUpForm">
        <mat-form-field appearance="fill">
            <mat-label>Nom complet</mat-label>
            <input matInput type="text" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" formControlName="password" required>
        </mat-form-field><br>
        <button mat-raised-button color="primary" [disabled]="signUpForm.invalid" type="submit">S'inscrire</button>
        <p class="info">
            Déjà un compte ? cliquer <a routerLink="/login">ici</a>
        </p>
    </form>
</app-card>